<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Basemaps</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://server.arcgisonline.com/ArcGIS/rest/services/Reference/World_Reference_Overlay/MapServer</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>basemap_preference</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>Basemap Tile Layer</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/lead/MapServer</string>
			<key>Title</key>
			<string>Dynamic Map Service</string>
			<key>Key</key>
			<string>dynamic_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/Soilpoints/FeatureServer/0</string>
			<key>Title</key>
			<string>Soil Sample Feature Service</string>
			<key>Key</key>
			<string>featureservice_preference</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>River Map Service</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/Rivers/MapServer</string>
			<key>Key</key>
			<string>rivermapservice_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Geoprocessing</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GP Url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/InterpolateLead/GPServer/InterpolateLead</string>
			<key>Key</key>
			<string>gp_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GP Results partial Url</string>
			<key>DefaultValue</key>
			<string>/results/Lead_Concentrations</string>
			<key>Key</key>
			<string>serviceresults_preference</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GP Jobs Partial Url</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>/jobs/</string>
			<key>Key</key>
			<string>gpjobs_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Watershed GP</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/Watershed/GPServer/Watershed</string>
			<key>Key</key>
			<string>watershed_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Soil Stats GP</string>
			<key>DefaultValue</key>
			<string>http://esrilabs3.esri.com/arcgis/rest/services/SpatialAnalysis/SoilStats/GPServer/SoilStats</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>Key</key>
			<string>soilstats_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Transparency</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.7</real>
			<key>Key</key>
			<string>slider_preference</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Initial Extent</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>XMin</string>
			<key>DefaultValue</key>
			<string>-10744392.2272696</string>
			<key>Key</key>
			<string>xmin_preference</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>YMin</string>
			<key>Key</key>
			<string>ymin_preference</string>
			<key>DefaultValue</key>
			<string>3513521.303541</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>XMax</string>
			<key>DefaultValue</key>
			<string>-10580470.919649</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
			<key>Key</key>
			<string>xmax_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>YMax</string>
			<key>DefaultValue</key>
			<string>3631972.982113</string>
			<key>Key</key>
			<string>ymax_preference</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>NumbersAndPunctuation</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
